
/* Default CSS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #000000 !important;
  color: #CAE9F5;
  font-family: sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p.success {
  color: green;
}

p.danger {
  color: red;
}

.logo {
  max-height: 150px;
  max-width: 450px;
}

/* Master NavBar CSS */
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.33 ease-in-out;
}

/* nav.navbar a.navbar-brand {
  width: 9%;
} */

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #CAE9F5 !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.8;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

.socials {
  display: flex;
  margin-left: 14px;
  margin-top: 10px;
}

.socials a {
  width: 42px;
  height: 42px;
  background: rgba(217,217,217,0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255,255,255,0.5);
}

.socials a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #CAE9F5;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.5s ease-in-out;
}

.socials a:hover::before {
  transform: scale(1);
}

.socials a img {
  width: 60%;
  z-index: 1;
  transition: 0.5s ease-in-out;
}

.socials a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(8%) saturate(96%) hue-rotate(350deg) brightness(95%) contrast(85%);
}

.contact-me {
  display: inline-flex;
}

.contact-me button {
  font-weight: 700;
  color: #CAE9F5;
  border: 1px solid #CAE9F5;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
 position: relative;
 background-color: transparent;
 transition: 0.5s ease-in-out;
}
.contact-me button span {
  z-index: 1;
}
.contact-me button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #CAE9F5;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.5s ease-in-out;
}
.contact-me button:hover {
  color: #121212;
}
.contact-me button:hover::before {
 content: "";
 width: 100%;
 height: 100%;
 position: absolute;
}
/* nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
 outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #CAE9F5;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
 border-bottom: 2px solid #CAE9F5;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
 width: 24px;
 position: absolute;
 height: 2px;
 background-color: #CAE9F5;
 top: 0;
 left: 0;
 content: '';
 z-index: 2;
 transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
 top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
 transform: rotate(45deg);
 background-color: #CAE9F5;
 height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
 transform: translateY(8px) rotate(-45deg);
 background-color: #CAE9F5;
 height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
 border-color: transparent;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
