
/* Default CSS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #15232e !important;
  color: #CAE9F5;
  font-family: sans-serif !important;
  background-image: url('./Assets/img/background.avif');
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

p.success {
  color: green;
}

p.danger {
  color: red;
}

/* Master NavBar CSS */
.logo {
  max-height: 60px;
  max-width: 100px;
  background-color: transparent;
}

nav.navbar {
  /* background-color: #191946; */
  /* background-color: #212c58; */
  /* background-color: #1c3d52; */
  /* background-color: #001c3d; */
  /* background-color: #011033; */
  background-color: #010819;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}

/* nav.navbar a.navbar-brand {
  width: 9%;
} */

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #CAE9F5 !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.8;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover {
  opacity: 1;
  transform: scale(1.1);
}

span.navbar-text {
  display: flex;
  align-items: center;
}

.socials {
  display: flex;
  margin-left: 14px;
  margin-top: 10px;
}

.socials a {
  width: 42px;
  height: 42px;
  background: rgba(217,217,217,0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255,255,255,0.5);
}

.socials a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #CAE9F5;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.5s ease-in-out;
}

.socials a:hover::before {
  transform: scale(1);
}

.socials a img {
  width: 60%;
  z-index: 1;
  transition: 0.5s ease-in-out;
}

.socials a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(8%) saturate(96%) hue-rotate(350deg) brightness(95%) contrast(85%);
}

.contact-me {
  display: inline-flex;
}

.contact-me button {
  font-weight: 700;
  border: 1px solid #CAE9F5;
  color: #CAE9F5;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
 position: relative;
 background-color: transparent;
 transition: 0.5s ease-in-out;
}

.contact-me button span {
  z-index: 1;
}

.contact-me button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #CAE9F5;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.5s ease-in-out;
}
.contact-me button span:hover {
  color: #121212;
}
.contact-me button:hover::before {
 content: "";
 width: 100%;
 height: 100%;
 position: absolute;
}

/* .contact-button {
  font-weight: 700;
  border: 1px solid #CAE9F5;
  color: #CAE9F5;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
 position: relative;
 background-color: transparent;
 transition: 0.5s ease-in-out;
}

.contact-button span {
  z-index: 1;
}

.contact-button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #CAE9F5;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.5s ease-in-out;
}
.contact-button span:hover {
  color: #121212;
}
.contact-button:hover::before {
 content: "";
 width: 100%;
 height: 100%;
 position: absolute;
} */

.talk {
  text-decoration: none;
}

/* AboutMe CSS */
.aboutMe {
  margin-top: -12px;
  padding: 230px 0 100px 0;
  color: #CAE9F5;
}

.intro {
  font-size: 45px;
}

.aboutMe p {
  font-size: 20px;
}

/* .myFace {
  margin-top: 100px;
  max-height: 500px;
  max-width: 350px;
} */

.myAvatar {
  max-height: 650px;
  max-width: 500px;
}

/* .myLogo {
  margin-top: 100px;
  margin-left: 80px;
  max-height: 450px;
  max-width: 300px;
} */

/* Portfolio CSS */
.project {
  padding: 80px 0;
  position: relative;
  margin-top: -50px;
}
.project h2 {
  color: #CAE9F5;
	font-size: 45px;
	/* font-weight: 700; */
  text-align: center;
  margin-top: 20px;
}
.project p {
  color: #CAE9F5;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}

h4 {
  font-size: 25px !important;
}

/* CSS to add tabs to project section later */
/* .project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
} */
/* .project .nav.nav-pills .nav-item {
  width: 33.33333%;
}
.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #CAE9F5;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
} */
/* .project .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}
.project .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
}
.project .nav.nav-pills .nav-link.active {
    border: 1px solid rgba(255, 255, 255, 1);
} */
.nav-link#projects-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}
.nav-link#projects-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-link#projects-tabs-tab-third {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}
.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
}
.proj-imgbx::before {
  content: "";
  /* background: linear-gradient(90deg, #CAE9F5 -5.91%, #4A2FBD 111.58%); */
  background: linear-gradient(180deg, #CAE9F5 -1%, #4A2FBD 130%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}

/* Resume section CSS */
.myresume {
  padding: 80px 0 100px 0;
  color: #CAE9F5;
}

.resume-title {
  	font-size: 40px;
    margin-top: 130px;
}

.right-resume p {
    font-size: 20px;
}

/* Cube Spinner CSS */
.stage-cube-cont {
  width: 30%;
  height: 50%;
  margin-left: 30%;
  margin-top: 135px;
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);
}

.facet {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 100px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px 0px #CAE9F5;
}

.face1 {
  transform: translateZ(100px);
}

.face2 {
  transform: rotateY(90deg) translateZ(100px);
}

.face3 {
  transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
}

.face4 {
  transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
}

.face5 {
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px) rotate(-90deg);
}

.face6 {
  transform: rotateX(-90deg) translateZ(100px);
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(odeg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateZ(90deg);
  }
  83% {
    transform: rotateY(90deg);
  }
}

/* Contact CSS */
.contact {
  padding: 60px 0 200px 0;
}
.contact img {
  width: 60%;
  margin-left: 50px;
  margin-top: 100px;
}
.contact h2 {
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
  color: #CAE9F5;
  margin-top: 100px;
}
.contact form input, .contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #CAE9F5;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus, .contact form textarea:focus {
  background: #CAE9F5;
  color: #010819;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #CAE9F5;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #010819;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #010819;
  background-color: #CAE9F5;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #CAE9F5;
}
.contact form button::before {
  content: "";
  background: #010819;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}

/* Footer CSS */
.footer {
  bottom: 0;
  background-color: #010819;
  position: absolute;
  width: 100%;
  height: 70px;
  z-index: 9999;
}

.credit {
  color: #CAE9F5;
  display: absolute;
  margin-top: 24px;
}
